body {
    position: relative;
    overflow-x: hidden;
    margin: 0;
    min-height: 100vh;
}

.wave-left,
.wave-right {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100px; /* Ancho reducido */
    z-index: -1;
}

.wave-left {
    left: 0;
    background: linear-gradient(
        90deg,
        rgb(96, 52, 219) 0%,
        rgba(96, 52, 219, 0) 70%
    );
}

.wave-right {
    right: 0;
    background: linear-gradient(
        270deg,
        rgb(49, 247, 75) 0%,
        rgba(17, 19, 17, 0) 70%
    );
}